<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">Danh Sách</h3>
					<h4>Danh Sách Sản Phẩm</h4>
					<div class="panel-body widget-shadow" id="pagination_data">
						<table class='table table-bordered'> 
						<tr> 
							<th>#</th>
	            			<th>Tên Giày</th>
	            			<th>Nhãn Hiệu</th>
	            			<th>Giá</th>
	            			<th>Đã Nhập</th>
	            			<th>Tồn Kho</th>
	            			<th>Hình Ảnh</th>
	            			<th>Ghi Chú</th>
	            			<th>Ngày Tạo</th>
	            			<th>Tùy Chỉnh</th>
            			</tr>
            			<tbody>
	            			{{#each products}}
	            				<tr>
	            					<td>#</td>
	            					<td>{{productName}}</td>
	            					<td>{{categoryName}}</td>
	            					<td>{{price}}</td>
	            					<td>{{quantity}}</td>
	            					<td>{{inventory}}</td>
	            					<td><img src='/images/products/{{mainImage}}' width='100'></td>
	            					<td>{{note}}</td>
	            					<td>{{created}}</td>
	            					<td><a href='/admin/cap-nhat-san-pham/{{_id}}'><span class='glyphicon glyphicon-edit'></span></a></td>
	            				</tr>
	            			{{/each }}
            			</tbody> 
            			</table>
					</div>
				</div>
			</div>
		</div>

